In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patheffects as path_effects
import os
import glob
import json
import csv
import sys
import numpy as np
import math
import functools
from tqdm import tqdm

In [2]:
paths = glob.glob('../build/benchmark_results/*.txt')

In [17]:
rows = []

for path in paths:
    run = int(path[path.find('run-') + 4:path.rfind('.')])
    name = os.path.basename(path)
    mode = name[len('flights-'):name.rfind('-run')]
    
    content = open(path, 'r').readlines()
    
    row = {'name' : name, 'mode' : mode, 'run': run}
    row.update(json.loads(content[-1]))
    
    ns_to_s = 1000000000
    row['output'] /= ns_to_s
    row['transform'] /= ns_to_s
    row['total'] /= ns_to_s
    rows.append(row)
    
df = pd.DataFrame(rows)
df.head()

                         name      mode  run    output  transform     total
0      flights-orig-run-7.txt      orig    7  0.089266   3.708102  3.797368
1     flights-orig-run-10.txt      orig   10  0.088406   3.888778  3.977185
2      flights-orig-run-4.txt      orig    4  0.089260   3.668084  3.757344
3      flights-orig-run-9.txt      orig    9  0.084199   3.712925  3.797124
4  flights-constant-run-2.txt  constant    2  0.086438   3.291251  3.377690

In [18]:
# are there any significant differences?

In [20]:
df = df[df.run != 1]

In [24]:
df.groupby('mode').describe()

           run                                           output            \
         count mean      std  min   25%  50%   75%   max  count      mean
mode
constant  10.0  6.5  3.02765  2.0  4.25  6.5  8.75  11.0   10.0  0.086845
narrow    10.0  6.5  3.02765  2.0  4.25  6.5  8.75  11.0   10.0  0.087027
orig      10.0  6.5  3.02765  2.0  4.25  6.5  8.75  11.0   10.0  0.087256

          ... transform           total                                \
          ...       75%       max count      mean       std       min
mode      ...
constant  ...  3.291189  3.297617  10.0  3.361356  0.017932  3.333336
narrow    ...  3.498203  3.524379  10.0  3.572642  0.020779  3.549076
orig      ...  3.743172  3.888778  10.0  3.820865  0.060479  3.757344


               25%       50%       75%       max
mode
constant  3.350805  3.360165  3.376922  3.387199
narrow    3.554281  3.572805  3.583219  3.613479
orig      3.795054  3.805768  3.828908  3.977185

[3 rows x 32 columns]